* {
    box-sizing: border-box;
}


body {
    background-color: rgb(136, 201, 255);
}

.questionswrap {
    margin-top: 30px;
    width: 60%;
}

.start {
    width: 100%;
    margin: auto;
}

.startbtn {
    border: #000;
    border-style: solid;
    border-width: 3px;
    padding: 10px 20px 10px 20px;
    font-size: 44px;
    font-weight: 500;
    display: flex;
    margin: auto;
}

.row.header {
    background-color: rgb(73, 255, 170);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.row.header h1, h2{
    text-align: center;
    margin: auto;
}

.countdown {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .question {
    background-color: aqua;
    width: 100%;
}

.number  {
    background-color: rgb(7, 77, 77);

}

.ask h2{
} */

.ask {
    background-color: #fff;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-block-start-width: 5px;
    margin-bottom: 25px;
}